.hide {
  display: none; }

#games_table thead tr th a {
  color: black;
  text-decoration: none; }
  #games_table thead tr th a:hover {
    color: #276baf; }

a.asc:after {
  content: "";
  width: 12px;
  height: 12px;
  background-image: url(../img/icons/svg/arrow-top.svg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 10px; }

a.desc:after {
  content: "";
  width: 12px;
  height: 12px;
  background-image: url(../img/icons/svg/arrow-bottom.svg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 10px; }

.page-item span {
  margin-left: 0;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: black;
  background-color: #fff;
  border: 1px solid #dee2e6; }

.hide {
  display: none !important; }

.filter {
  margin-bottom: 25px;
  height: 100px;
  display: flex;
  align-items: center; }
  .filter .btn-filter button {
    width: 150px;
    height: 40px; }
  .filter .filters {
    height: 100%;
    opacity: 0; }
    .filter .filters .calendar {
      margin-left: 20px; }
      .filter .filters .calendar input {
        width: 150px;
        height: 34px; }
        .filter .filters .calendar input:last-child {
          margin-top: 10px; }
    .filter .filters .btn-go {
      margin-left: 20px; }

.search-input {
  align-items: center; }
  .search-input input {
    width: 250px;
    margin-left: 10px; }

.item-nav-li {
  margin-right: 10px; }
  .item-nav-li a {
    color: white;
    font-weight: bold; }

/*======================owner-encashmwnt=================================*/
#row-encashment .item-encashment {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  border-left: 2px solid #4682B4;
  color: #2F4F4F; }

.encashment {
  border: 2px solid #4682B4;
  border-left: 0;
  border-top: 0; }
  .encashment:first-child {
    border-top: 2px solid #4682B4; }
  .encashment:last-child {
    border-bottom: 2px solid #4682B4; }

.head-encashment {
  background: #1E90FF; }
  .head-encashment .item-encashment {
    color: white !important;
    font-size: 18px;
    font-weight: bold; }

.wrapper-encashment {
  border-radius: 10px; }

.filter-data-encashment {
  height: 130px; }
  .filter-data-encashment .btn-go #go-game {
    margin: -10px 0 0 30px; }
  .filter-data-encashment .calendar label .item-datepicker {
    margin-left: 10px; }

.item-statistics-filter {
  margin-left: 25px;
  height: 40px; }

.checkbox-inp-stat:checked {
  background: #337ab7;
  border: none; }
.checkbox-inp-stat:disabled {
  border-color: rgba(0, 0, 0, 0.26); }

.month_before {
  padding: 10px 15px 10px 15px;
  margin-top: 10px;
  background-color: #eee; }
  .month_before .collapse-link {
    text-decoration: none;
    color: black;
    font-weight: bold; }
  .month_before div table {
    border: 2.5px solid #ddd;
    border-radius: 3px; }

/*# sourceMappingURL=style.css.map */
