// @font-face {
//     font-family: 'AvenirNextRegular';
//     src: url('../css/fonts/AvenirNextRegular.eot');
//     src: url('../css/fonts/AvenirNextRegular.eot') format('embedded-opentype'),
//          url('../css/fonts/AvenirNextRegular.woff2') format('woff2'),
//          url('../css/fonts/AvenirNextRegular.woff') format('woff'),
//          url('../css/fonts/AvenirNextRegular.ttf') format('truetype'),
//          url('../css/fonts/AvenirNextRegular.svg#AvenirNextRegular') format('svg');
// }
$md-checkbox-checked-color: rgb(51, 122, 183);
$md-checkbox-border-color: rgba(0, 0, 0, 0.54);
$md-checkbox-border-color-disabled: rgba(0, 0, 0, 0.26);
$md-checkbox-checked-color-disabled: rgba(0, 0, 0, 0.26);

.hide {
    display: none;
}

* {

}

#games_table {
    thead {
        tr {
            th {
                a {
                    color: black;
                    text-decoration: none;

                    &:hover {
                        color: #276baf;
                    }
                }
            }
        }
    }
}


a.asc{
    &:after {
        content: "";
        width : 12px;
        height: 12px;
        background-image: url(../img/icons/svg/arrow-top.svg);
        background-repeat: no-repeat;
        background-size: cover;
        margin-left: 10px;
    }
}

a.desc {
    &:after {
        content: "";
        width : 12px;
        height: 12px;
        background-image: url(../img/icons/svg/arrow-bottom.svg);
        background-repeat: no-repeat;
        background-size: cover;
        margin-left: 10px;
    }
}

.page-item {
    span {
        border-top-left-radius: 0.25rem;
        border-bottom-left-radius: 0.25rem;
        position: relative;
        display: block;
        padding: 0.5rem 0.75rem;
        margin-left: -1px;
        line-height: 1.25;
        color: black;
        background-color: #fff;
        border: 1px solid #dee2e6;
    }
}

.hide {
    display: none !important;
}

.filter {
    margin-bottom: 25px;
    height: 100px;
    display: flex;
    align-items: center;
    .btn-filter {
        button {
            width: 150px;
            height: 40px;
        }
    }

    .filters {
        height: 100%;
        opacity: 0;
        .calendar {
            margin-left: 20px;
            input {
                width: 150px;
                height: 34px;
                &:last-child {
                    margin-top: 10px;
                }
            }
        }

        .btn-go {
            margin-left: 20px;
        }
    }
}

.search-input {
    align-items: center;
    input {
        width: 250px;
        margin-left: 10px;
    }
}

.item-nav-li {
    margin-right: 10px;
    a {
        color: white;
        font-weight: bold;
    }
}



// .head-metrics{
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     .item-head-metrics {
//         justify-content: center;
//         display: flex;
//         width: 12.5%;
//         span {
//             font-size: 12px;
//
//         }
//     }
// }
//
// .data-metrics {
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     .item-metrics {
//         // margin-left: 10px;
//         border: 1px solid #eee;
//         width: 12.5%;
//         text-align: center;
//         //     width: 100%;
//     }
// }

/*======================owner-encashmwnt=================================*/
#row-encashment {
    .item-encashment {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 35px;
        border-left: 2px solid #4682B4;
        color: #2F4F4F;
    }
}

.encashment {
    border: 2px solid #4682B4;
    border-left: 0;
    border-top: 0;

    &:first-child {
        border-top: 2px solid #4682B4;

    }

    &:last-child {
        border-bottom: 2px solid #4682B4;

    }
}

.head-encashment {
    background: #1E90FF;
    .item-encashment {
        color: white !important;
        font-size: 18px;
        font-weight: bold;

    }
}

.wrapper-encashment {
    border-radius: 10px;
}

.filter-data-encashment {
    height: 130px;
    .btn-go {
        #go-game {
            margin: -10px 0 0 30px;

        }
    }

    .calendar {
        label {
            .item-datepicker {
                margin-left: 10px;
            }
        }
    }
}

#date_second_encashment {
    // margin-top: 10px;
}











.item-statistics-filter {
    margin-left: 25px;
    height: 40px;
}
.checkbox label .checkbox-decorator .check, label.checkbox-inline .checkbox-decorator .check {
    width: 1rem !important;
    height: 1rem !important;
    &:before {
        margin-top: -6px !important;
        margin-left: 6px !important;
    }
}

.checkbox-inp-stat {

    &:checked {
        background: $md-checkbox-checked-color;
        border:none;
    }
    &:disabled{
    border-color: $md-checkbox-border-color-disabled;
  }

}

.month_before {
    padding: 10px 15px 10px 15px;
    margin-top: 10px;
    background-color: #eee;

    .collapse-link {
        text-decoration: none;
        color: black;
        font-weight: bold;
    }

    div {
        table {
            border: 2.5px solid #ddd;
            border-radius: 3px;
        }
    }
}

.card {
    div {
        overflow: auto;
    }
}
/*======================owner-views=================================*/
.input-update {
    border: 0;
    font-size: 16px !important;
    color: #495057 !important;
    outline:none;
    width: 100%;
    text-align-last: center;
    border-right: 1px solid slategray;
    padding: 5px 0 5px 0;
}

.select-update {
    border: 0;
    font-size: 16px !important;
    outline:none;
    width: 100%;
    text-align-last: center;
    border-right: 1px solid slategray;
    padding: 5px 0 5px 0;
}

.uptime-select {
    border: 0;
    font-size: 16px !important;
    color: #495057 !important;
    outline:none;
    width: 100%;
    text-align-last: center;
    padding: 5px 0 5px 0;
}

.elem-card {
    width: 32%;
    margin: 30px 0 0 0;
    .bg-primary {
        .elem-th {
            span {
                color: white;
                font-size: 20px;
            }
        }
        .elem-td {
            span {
                color: white;
                font-size: 20px;
            }
        }
    }
}

.content-cards {
    .elem-card-inf {
        div {
            .elem-th {
                width: 50%;
                display: flex;
                justify-content: center;
                padding: 3px 5px;
                border: 1px solid rgba(19, 0, 16, 0.31);
                span {
                    text-align: center;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
            .elem-td {
                width: 50%;
                display: flex;
                justify-content: center;
                border: 1px solid rgba(19, 0, 16, 0.31);
                select {
                    text-align-last: center;
                }
                span {
                    text-align: center;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                .state-td {
                    border-right: 2px solid rgba(19, 0, 16, 0.31);
                    padding: 3px 5px;
                    width: 50%;
                    text-align: center;
                }
                .state-pr {
                    padding: 3px 5px;
                    width: 50%;
                    text-align: center;
                }
            }
        }
    }
}

#change-form-device {
    div {
        .th-card-inf {
            width: 48%;
        }

    }
}

.td-card-inf {
    width: 40%;
}

.buttons {
    width: 12%;
    .btn-set {
        a {
            span {
                font-size: 22px;
            }
          }
    }
}

#change-form-device {
    .card-header {
        color: white;
        font-size: 22px;
        font-weight: bold;
    }
    .content-update {
        div {
            .elem-th {
                width: 50%;
                display: flex;
                justify-content: center;
                border: 1px solid lightslategray;
                font-size: 16px;
                span {
                    display: flex;
                    align-items: center;
                    font-size: 16px;
                }
            }
            .elem-td {
                width: 50%;
                border: 1px solid lightslategray;
                font-size: 16px;
                span {
                    display: flex;
                    align-items: center;
                    font-size: 16px;
                }
                .form-group {
                    margin: 0;
                }
            }

        }
    }
    div {
        .elem-card-inf {
            .elem-th {
                span {
                    font-size: 16px !important;
                }
            }
            .elem-td {
                font-size: 16px !important;
                span {
                    font-size: 16px !important;
                }

                .bills-change-page {
                    width: 100%;
                }
            }
        }
    }
    #btn-change-form-device {
        margin: 0;

        button {
            width: 100%;
            height: 100%;
            margin: 0;
        }
    }
}

#bills {
    .form-group {
        width: 100%;
    }
}

#state-device {
    .form-group {
        width: 100%;
    }
}

#talisman-change {
    .form-group {
        width: 100%;
    }
}

.change-form {
    margin-bottom: 0;
}

#descriptions-device {
    .form-group {
        width: 100%;
    }
}

#wrap_cards {
    justify-content: space-between;
}
.field-config-description {
    margin: 0 !important;
    width: 100%;
    .input-update-description {
        background-color: transparent;
        color: white !important;
        border: 0;
        width: 100%;
    }
}

.card-header {
    flex-grow: 1;
    .elem-td {
        flex-grow: 1 !important;
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width: 560px) {

    .elem-card {
        width: 90%;
    }
    .card-header {
        justify-content: center !important;
        .elem-td {
            flex-grow: 1 !important;
        }
    }
    #wrap_cards {
        justify-content: center;
    }

    #change-form-device {
         div {
             .th-card-inf {
                 width: 80% !important;
                 .elem-th {
                     span {
                         font-size: 14px !important;
                     }
                 }
             }
         }

    }
}