// @font-face {
//     font-family: 'AvenirNextRegular';
//     src: url('../css/fonts/AvenirNextRegular.eot');
//     src: url('../css/fonts/AvenirNextRegular.eot') format('embedded-opentype'),
//          url('../css/fonts/AvenirNextRegular.woff2') format('woff2'),
//          url('../css/fonts/AvenirNextRegular.woff') format('woff'),
//          url('../css/fonts/AvenirNextRegular.ttf') format('truetype'),
//          url('../css/fonts/AvenirNextRegular.svg#AvenirNextRegular') format('svg');
// }
$md-checkbox-checked-color: rgb(51, 122, 183);
$md-checkbox-border-color: rgba(0, 0, 0, 0.54);
$md-checkbox-border-color-disabled: rgba(0, 0, 0, 0.26);
$md-checkbox-checked-color-disabled: rgba(0, 0, 0, 0.26);

.hide {
    display: none;
}

* {

}

#games_table {
    thead {
        tr {
            th {
                a {
                    color: black;
                    text-decoration: none;

                    &:hover {
                        color: #276baf;
                    }
                }
            }
        }
    }
}


a.asc{
    &:after {
        content: "";
        width : 12px;
        height: 12px;
        background-image: url(../img/icons/svg/arrow-top.svg);
        background-repeat: no-repeat;
        background-size: cover;
        margin-left: 10px;
    }
}

a.desc {
    &:after {
        content: "";
        width : 12px;
        height: 12px;
        background-image: url(../img/icons/svg/arrow-bottom.svg);
        background-repeat: no-repeat;
        background-size: cover;
        margin-left: 10px;
    }
}

.page-item {
    span {
        border-top-left-radius: 0.25rem;
        border-bottom-left-radius: 0.25rem;
        position: relative;
        display: block;
        padding: 0.5rem 0.75rem;
        margin-left: -1px;
        line-height: 1.25;
        color: black;
        background-color: #fff;
        border: 1px solid #dee2e6;
    }
}

.hide {
    display: none !important;
}

.filter {
    margin-bottom: 25px;
    height: 100px;
    display: flex;
    align-items: center;
    .btn-filter {
        button {
            width: 150px;
            height: 40px;
        }
    }

    .filters {
        height: 100%;
        opacity: 0;
        .calendar {
            margin-left: 20px;
            input {
                width: 150px;
                height: 34px;
                &:last-child {
                    margin-top: 10px;
                }
            }
        }

        .btn-go {
            margin-left: 20px;
        }
    }
}

.search-input {
    align-items: center;
    input {
        width: 250px;
        margin-left: 10px;
    }
}

.item-nav-li {
    margin-right: 10px;
    a {
        color: white;
        font-weight: bold;
    }
}



// .head-metrics{
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     .item-head-metrics {
//         justify-content: center;
//         display: flex;
//         width: 12.5%;
//         span {
//             font-size: 12px;
//
//         }
//     }
// }
//
// .data-metrics {
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     .item-metrics {
//         // margin-left: 10px;
//         border: 1px solid #eee;
//         width: 12.5%;
//         text-align: center;
//         //     width: 100%;
//     }
// }

/*======================owner-encashmwnt=================================*/
#row-encashment {
    .item-encashment {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 35px;
        border-left: 2px solid #4682B4;
        color: #2F4F4F;
    }
}

.encashment {
    border: 2px solid #4682B4;
    border-left: 0;
    border-top: 0;

    &:first-child {
        border-top: 2px solid #4682B4;

    }

    &:last-child {
        border-bottom: 2px solid #4682B4;

    }
}

.head-encashment {
    background: #1E90FF;
    .item-encashment {
        color: white !important;
        font-size: 18px;
        font-weight: bold;

    }
}

.wrapper-encashment {
    border-radius: 10px;
}

.filter-data-encashment {
    height: 130px;
    .btn-go {
        #go-game {
            margin: -10px 0 0 30px;

        }
    }

    .calendar {
        label {
            .item-datepicker {
                margin-left: 10px;
            }
        }
    }
}

#date_second_encashment {
    // margin-top: 10px;
}











.item-statistics-filter {
    margin-left: 25px;
    height: 40px;
}

.checkbox-inp-stat {

    &:checked {
        background: $md-checkbox-checked-color;
        border:none;
    }
    &:disabled{
    border-color: $md-checkbox-border-color-disabled;
  }

}

.month_before {
    padding: 10px 15px 10px 15px;
    margin-top: 10px;
    background-color: #eee;

    .collapse-link {
        text-decoration: none;
        color: black;
        font-weight: bold;
    }

    div {
        table {
            border: 2.5px solid #ddd;
            border-radius: 3px;
        }
    }
}


/*======================owner-views=================================*/

.elem-card {
    width: 32%;
    margin: 30px 0 0 0;
}

.elem-card-inf {
    .elem-th {
        height: 30px;
        border-bottom: 2px solid rgba(0,0,0,.06);

        span {
            font-size: 12px;
        }
    }
    .elem-td {
        display: flex;
        height: 30px;
        border: 2px solid rgba(0,0,0,.06);
        border-top: 0;
        span {
            width: 100%;
            text-align: center;
            font-size: 12px;
        }
        .state-td {
            width: 50%;
            text-align: center;
            span {
                font-size: 12px;
            }
        }

        .state-pr {
            width: 50%;
            text-align: center;
            span {
                font-size: 12px;
            }
        }
    }
}

.th-card-inf {
    width: 48%;
}

.td-card-inf {
    width: 32%;
}

.buttons {
    width: 20%;
    .btn-set {
        a {
            .img-icon {
                width: 30px;
            }
          }
    }

}